<style>
    table.center {
        margin-left: auto;
        margin-right: auto;
    }

    ol {
        margin-left: 40px;
    }

    body, p, card {
        line-height: 1.6;
    }

    .card {
        margin: 0.4em;
        line-height: 1.6;
    }
</style>

<div class="card my-3" style="line-height:134%">
    <div class="card-body">

        <p>
            Welcome and thank you for participating in the trading experiment! <br>
            Please read the instructions carefully. To proceed with the experiment, you will need to correctly
            answer four
            validation questions to verify your understanding of the instructions. </p>

        <div class="card">
            <div class="card-header">
                What do I need to do?
            </div>
            <div class="card-body">
                <ol class="list-group">
                    <li> After completing the validation questions, you will be redirected to a platform where you
                        can:
                        <ul>
                            <li> Trade virtual assets (via a <b>Trade</b> tab) and/or</li>
                            <li> Complete simple numerical tasks (via a <b>Work</b> tab)</li>
                        </ul>
                    </li>
                    <li> You can freely switch between the trading and work tabs at all times during the
                        experiment.
                    </li>
                    <li> The game progresses over {{ gps.num_rounds }} rounds of {{ gps.day_length_in_min }} minutes each.</li>
                    <li> In each round, you can earn money either by:
                        <ul>
                            <li> Making a profit through buying and selling assets.</li>
                            <li> Earning a fixed wage for each numerical task you complete.</li>
                        </ul>
                    </li>
                    <li> After each round, you will see a screen with your total wealth at the end of the round.
                    </li>
                    <li> The rounds are independent of each other meaning that your progress (portfolio and bank
                        account) will be reset at the beginning of each round.
                    </li>
                    <li> After the {{ gps.num_rounds }} rounds, you will complete a 10-question quiz on trading and investments. <br>
                        Do not worry if you do not have prior finance knowledge or experience in trading: Just
                        answer to the best of your ability. <br>
                        You will receive a bonus payment for each question you answer correctly on the quiz.
                    </li>
                    <li> At the end of the experiment, one of the trading rounds will be selected at random as your
                        payment round. <br>
                        You will receive a bonus payment proportional to the wealth in the randomly selected round, at a
                        rate of 1 E$ = {{ gps.real_world_currency_per_point }} CA$ (E$ stands for "experimental dollars").
                        So think and play in each round as if it is the round that counts, because it might be!
                    </li>
                </ol>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                What can I trade?
            </div>
            <div class="card-body">
                Each round, you can trade up to four assets:
                <ol class="list-group list-group-flush">
                    <li> Two stocks, labelled
                        <em>{{ gps.stock_A_name }}</em>
                        and
                        <em>{{ gps.stock_B_name }}</em>
                        .
                        <ol>
                            <li> Stock
                                <em>{{ gps.stock_B_name }}</em>
                                has a higher expected return (on average, you can anticipate higher gains)
                            </li>
                            <li> But, stock
                                <em>{{ gps.stock_B_name }}</em>
                                also has a higher volatility (prices swing around more)
                            </li>
                        </ol>
                    <li> Two "leveraged ETFs" which are designed to offer, at each time step, 3 times the return on
                        either
                        <em>{{ gps.stock_A_name }}</em>
                        and
                        <em>{{ gps.stock_B_name }}</em>
                        .
                    </li>
                    <li> Each round, you start with {{ gps.initial_stock_items }} units each of
                        <em>{{ gps.stock_A_name }}</em>
                        and
                        <em>{{ gps.stock_B_name }}</em>
                    </li>
                </ol>

                <p>
                <table class="center" , border="1">
                    <tbody>
                    <tr>
                        <td>
                            <p><strong>Stock return&nbsp;</strong></p>
                        </td>
                        <td>
                            <p><strong>Leveraged ETF return</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><span style="font-weight: 400;">+1%</span></p>
                        </td>
                        <td>
                            <p><span style="font-weight: 400;">+3%</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><span style="font-weight: 400;">-2%</span></p>
                        </td>
                        <td>
                            <p><span style="font-weight: 400;">-6%</span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </p>

            </div>
        </div>


        <div class="card">
            <div class="card-header">
                How do I trade?
            </div>
            <div class="card-body">

                <ol class="list-group list-group-flush">
                    <li> Stock prices will refresh every {{ gps.tickFrequency }} seconds.</li>
                    <li> At the beginning of each round, you will be informed of the expected return and expected
                        variability of returns for each stock.
                    </li>
                    <li> You cannot take negative positions in a stock, i.e., you cannot short sell.</li>
                    <li> Each round, a fee might apply for each trade you make (either a buy or a sell). You will be
                        able to see the level of the fee in the trading dashboard.
                    </li>
                    <li> The trading dashboard allows you to place orders, as well as to see your return and
                        position value in real time, for each stock and across your entire portfolio.
                    </li>
                </ol>

            </div>
        </div>


        <div class="card">
            <div class="card-header">
                How can I make money through work?
            </div>
            <div class="card-body">

                <ol class="list-group list-group-flush">
                    <li> In the work tab, you complete simple numerical tasks to earn a wage of either {{ gps.fee_low }} E$ or {{ gps.fee_high }} E$,
                        depending on the round you are in.
                    </li>
                    <li> The wage you earn per task will be directly deposited into your bank account balance.</li>
                    <li> At the top of the screen, you will see the number of total tasks you have attempted, the
                        number correctly done, and the wage you will receive per task.
                    </li>
                    <li> Remember that it's up to you how to allocate your time between trading and working in each
                        round.
                    </li>
                </ol>

            </div>
        </div>

        <div class="card">
            <div class="card-header">
                How do I receive payment after the experiment?
            </div>
            <div class="card-body">

                <ol class="list-group list-group-flush">
                    <li> Your total compensation includes both a participation fee and a bonus based on your
                        performance in the experiment. Payment is made through the Prolific platform.
                    </li>

                        <li>
                        At the end of some rounds, you may receive a randomly chosen free stock.
                        The probability of receiving the free stock is 5% times the proportion of time spent on the
                        trading platform.
                        For example, if you spend {{ gps.example_time_min }} minutes on the trading platform and {{ gps.example_work_time_min }} minutes on the working
                        task, you receive one unit of either stock {{ gps.stock_A_name }} or stock {{ gps.stock_B_name }} at the end of the round with
                        probability {{ gps.example_time_min }}/{{ gps.day_length_in_min }} * {{ gps.formatted_prob }}% =
                            {{ gps.example_formatted_prob }}%.
                    </li>


                    <li> After you are finished, the computer will select one of the trading rounds at random.</li>
                    <li> This will be your payment round: You will receive a bonus payment proportional to your
                        end-of-round balance (including wages earned and trading profits).
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>



