{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
    Best Trader Award
{% endblock %}
{% block content %}
    <div class="card my-3">
        <div class="card-body">

 <li class="list-group-item text-center">


     <img src="https://png.pngitem.com/pimgs/s/267-2675669_trophy-congratulations-for-winning-contest-hd-png-download.png" height="300px" alt="">

 </li>
            <li class="list-group-item">
                Upon the completion of this part, we will select the best trader (the one who conducted the largest
                number of transactions
                during this part). You will be informed whether you have been selected as a Best Trader via message that
                we will send you on Prolific.
            </li>

        </div>
    </div>
    <div class="my-3">    {% next_button %}
    </div>
{% endblock %}