{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Trading platform - example 1
{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">
            <div>
                To understand how trading works on the platform, consider the following example (and figure below). You
                receive Z=1000 ECU at the beginning of the round. Cash earns an interest rate of 2% each round, and the
                borrowing rate is 5%. The current stock prices are 5.15 ECU and 7.20 ECU, for stocks A and B,
                respectively. Stock A (B) has an expected return of 10% (8%)
                and a volatility of 20% (15%). In the examples, we consider a zero trading fee (f=0).
            </div>
            <hr>
            <div class="lead text-center">
                Example A: No borrowing
            </div>
            <div>
                At the beginning of the round, you buy 50 stocks A (worth 50 x 5.15 = 257.5 ECU) and 60 stocks B (worth
                60 x 7.20 = 432 ECU). You are left with 310.5 ECU in cash (=1000-257.5-432).
            </div>
            <div>
                You keep these positions until the end of the round. At that point, the price of Stock A is 6.20 ECU
                (i.e., higher than before) and the price of stock B is 5.95 ECU (i.e., lower than before).
            </div>
            <ul>
                <li>
                    Your position in stock A is now worth 50 x 6.20 = 310 ECU: You have gained 52.5 ECU.
                </li>
                <li>
                    Your position in stock B is now worth 60 x 5.95 = 357 ECU: You have lost 75 ECU.
                </li>
                <li>
                    You earned 6.21 ECU on your cash holding (2% on 316.71 ECU).
                </li>
                <li>
                    Overall, you lost 16.29 ECU during this round (a return of -1.62%).
                </li>
                <li class="text-success">
                    Your round payoff is 983.71 ECU.
                </li>
            </ul>
        </div>
    </div>
    {% next_button %}

{% endblock %}
