{% extends "global/Page.html" %}
{% load otree static %}

{% load render_bundle from webpack_loader %}


{% block body_main %}
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <div id="app"></div>
    <script>
        window.gameParams = {{ view.game_params|json }};
        window.socket_path = "{{ view.live_url }}";
    </script>
    {% render_bundle "chunk-vendors" %}
{#    {% render_bundle "app" %}#}


{% endblock %}
{% block live %}
{% endblock %}
