{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Watch the video
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            At the next page we will answer a few simple questions to check your understanding of the material presented
            in this video.
            <div class="alert alert-danger text-center lead">
                Please take into account that the failure to answer these questions make you unelibible for the rest of
                the study.

            </div>
        </div>
    </div>
    <div class="text-center my-3">
        {% if session.config.financial_nudging|default_if_none:False %}
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-PkN15TtFnc" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        {% else %}

            <iframe width="560" height="315" src="https://www.youtube.com/embed/uh-yBJOS5SM" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        {% endif %}

    </div>
    {% next_button %}

{% endblock %}
