{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Answer the questions
{% endblock %}

{% block content %}
    <div class="alert alert-danger">
        Please take into account that the failure to answer these questions make you unelibible for the rest of the
        study.

    </div>
    <div class="card my-3">
        <div class="card-body">
            <div class="lead text-center">
                There should be a few simple attention check questions here.
            </div>
        </div>
    </div>




    {% next_button %}

{% endblock %}
